* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  .logo{
    margin: 0 30%;
    padding: 50px 0;
    height: 150px;
    
  }

  .titleRapper{
    margin: 0 30%;
  }
  .titleRapper :first-child{
    font-size: 42px;
  }
  .titleRapper :nth-child(2){
    padding: 20px 100px 10px 140px;
  }
  .titleRapper :nth-child(3){
    padding: 0px 100px 10px 130px;
  }

  .MovieContainer{
    margin: 0px 40px 20px 40px;
    padding: 30px;
    border-radius: 4px;
    background: #1a1a1a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    
  }
  
.details{
    list-style-type: disc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
    margin: 0px 80px 0px 20px;
    color: white;
    padding-top: 20px;
   
  }
  .details li{
    
    margin-left: 0px;
    line-height: 0.0001px;
    
  }

  .Description{
    color: rgb(151, 149, 149);
    font-weight: bolder;
    font-size: 20px;
    
  }

  .subHeading{
    margin-top: 30px;
    padding: 10px;
    border-top: 2px solid rgb(75, 72, 72);
    color: rgb(151, 149, 149);
    font-weight: bolder;
    font-size: 20px;
  }